/*Declaração de variaveis*/

:root {
  --vermelho: #e50914;
  --preto: #141414;
}

/*Reset css*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  color: #ffffff;
}

body {
  background-color: var(--preto);
  font-family: "Times New Roman", Times, serif;
}

/* container base */

header .container {
  display: flex;
  flex-direction: row;
  align-items: center; /*alinhamento vertical, no centro*/
  justify-content: space-between; /*alinhamento horizontal, espaco entre elementos*/
}

header .container .logo {
  margin-left: 10px;
  color: var(--vermelho);
  font-family: "Arial Black", Times;
  font-size: 40px;
}

header nav a {
  color: #aaa;
  margin-right: 10px;
}

header nav a:hover {
  color: #eee;
}

/* filme principal */

.filme-principal {
  font-size: 16px;
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) 100%),
    url("../img/filme-principal/principal.jpg");
  background-size: cover;
  height: 400px;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.filme-principal .container {
  margin-left: 20px;
  width: 60%;
}

.filme-principal .descricao {
  margin-top: 10px;
  margin-bottom: 40px;
  font-size: 16px;
}

.filme-principal .titulo {
  margin-top: 15%;
  font-size: 30px;
  font-family: "Courier New", Courier, monospace;
}
.filme-principal .botao {
  background-color: rgba(0, 0, 0, 0.5); /* deixa com um preto transparente */
  border: none; /* sem borda */

  padding: 15px 30px;
  margin-right: 15px;
  font-size: 12px;
  cursor: pointer; /* mudar mouse para ponteiro */

  transition: 0.3s ease all; /* define como ocorrera atransição de uma animação para outra */
}

.filme-principal .botao:hover {
  /* inverte cores */
  color: var(--preto);
  background-color: rgb(256, 256, 256);
}

.filme-principal .botao i {
  padding-right: 8px;
}

.filme-principal .botao .cor-preta-icon {
  color: var(--preto);
}
.filme-principal .botao .cor-branca-icon {
  color: #ffffff;
}

.filme-principal .botao i {
  padding-right: 8px;
}

.filme-imagem {
  width: 100%;
  height: 100%;
  display: block;
}
